      body {
        background-image: url(./assets/bg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
      }
    
      header {
        display: flex;      
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        margin-left: 15%;        
      }

      h1{
        color: white;
        width: 200px;
        height: 150 px;
      }
      h2{
        color: #D20094;
        font:Inter;
        gap: 20px;        
      }

      p{
        color: white;
        gap: 20px;
        display: flex;         
      }

      ul{
        color: white;      
        }

      label{
        color: white;        
      }
      
      button {
        height: 30px;
        background-color: #00FFFF;
        text-align: center;
        margin-right: 10%;
      }

*,*::after,*::before{
    box-sizing: border-box;
}
body{
    background-image: url(assets/bg.jpg);
    background-size: 100%;
}
img{
    height: 60px;
}

body{
    background-image: url(assets/bg.jpg);
    background-size: 100%;
    display: block;
}

    main {
      display: flex;
      width: 100%;
      flex-direction: column;
      align-items: center;
      margin-top: 5%;
    }
    

    h1 {
      font-style: italic;
    }

    .logo {
      width: 250px;
      margin-left: 5%;
      margin-top: 3%;
    }

    .footer {
      display: flex;
      justify-content:flex-start;
      align-items: center;
      width: 100%;
      gap: 20px;
    }
    

    button.answer {
      height: 30px;
      background-color: transparent;
    }

    button:hover{
      box-shadow: 0px -5px 23px -1px grey;
      transition-duration: 0.9s;
    }

    *,
    *::after,
    *::before {
      box-sizing: border-box;
    }

    img {
      height: 60px;
    }

    h1.question {
      color: white;
      text-align: center;
      width: fit-content;
    }

    .answer {
      width: 40%;
      color: white;
      border: 1px solid white;
      border-radius: 50px;
      margin: 10px 20px;
    }



    .next{
      color: white;
      margin-right: 15%;
      border-radius: 25%;
      border: 1px solid grey;
      background-color: transparent;
    }


    input[type=radio]+label{
      display: flex;
      justify-content: center;
      box-shadow: 0px -5px 23px -1px grey;
      border: 1px solid grey;
      /* text-align: center; */
      /* width: 40%; */
      /* margin: 20px; */
      margin-left: 20px;
      cursor: pointer;
      padding: 10px;
    }

    input[type=radio]{
      display: none;
    }

    input[type=radio]:checked+label{
      background-color: #D20094;
    }


    #answers {
      width: 60%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
    }

    h3 {
      color: white;
      text-align: center;
    }

    .hidden{
      visibility: hidden;
    }