#logo{
    width: 200px;
}

body{
    background-image: url(assets/bg.jpg);
    background-size: 100%;
    display: block;
}

#cPromise{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.butt1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.h1{
    background-color: aqua;
}